.input-group {
  position: relative;
  width: 250px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 2px solid #d6a419;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  outline: none;
  appearance: none; /* hides default arrow */
}

.input-group input::-webkit-calendar-picker-indicator {
  opacity: 0; /* hides default icon */
  cursor: pointer;
}

.input-group .icon {
  position: absolute;
  left: 240px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #d6a419;
}
